.hide {
    display: none;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.4;
}

.child-fill {
    display:table-cell;
    vertical-align:top;
    width: 100%;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.button-margin {
    margin: 5px 0px 10px 0px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-up-10 {
    margin-up: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.max-height {
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-ctrl {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.open-dialog-ctrl {
    border: 1px;
    border-color: #BDC3C7;
    border-style: solid;
    padding: 5px;
}

.input-ctrl:focus + label,
.input-ctrl + label:hover {
    border-left: none;
    text-decoration: none;
    color: #000;
    background: #cccccc;
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
}

.input-ctrl + label {
    color: white;
    background-color: black;
    display: inline-block;    
    background: #d9d9d9;
    color: #000;
    border: 1px solid #bfbfbf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-weight: 300;
    -webkit-appearance: menuitem;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: normal;
}

.input-ctrl + label {
    cursor: pointer; 
}

#upload-progress-bar, #xpath-progress-bar {
    height: 35px;
    border-color: #6C7A89;
    border-width: 2px;
    background-color: white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-style: solid;
}
#upload-progress-bar div, #xpath-progress-bar div {
    background-color: #6C7A89;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
    height: 100%;
    text-align: right;
    line-height: 35px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
}

.backdrop {
    border: 1px #BDC3C7 solid;
    padding: 8px 6px;
}

.panel-header.backdrop {
    background-color: #D2D7D3;
    border-bottom: 0px;
}

.panel-body.backdrop {
    background-color: #FFFFFF;
}

table {
    font-size: 1em !important;
}

.wordwrap > pre {
   margin: 5px;
   padding: 5px;
   height: 300px;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#view-results-btn {
    width: 100%;
}

#results-modal #modal-title {
    margin-bottom: 10px;
}

#results-modal {
    width: 95% !important;
}

#x2r-results-table {
    border: 0px;
    margin: 0px;
}

#print-xml-table {
    margin: 5px;
}

@media screen and (min-width: 961px) {
    .push-right {
        float: right !important;
    }
}

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#results-table table, 
	#results-table thead, 
	#results-table tbody, 
	#results-table th, 
	#results-table td, 
	#results-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#results-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#results-table tr { border-top: 1px solid #ccc; }
        #results-table tr:first-child { border-top: 0px; }
 
	#results-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
                min-height: 29px;
	}
 
	#results-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#results-table td:before { content: attr(data-title); }
}